.binunce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93%;
  width: 100%;

  .binunce-table-header {
    display: flex;
    flex-direction: row;
    background-color: #2a3038;
    border-radius: 0.2rem;
    color: #6f7479;
    font-weight: 600;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 50px;
    width: 80%;
    text-align: center;
  }

  .binunce-table-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .binunce-table-row {
    display: flex;
    flex-direction: row;
    background-color: #2a3038;
    border-radius: 0.2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px 50px;
    text-align: center;
    width: 80%;
  }

  .amount {
    color: #00ffc8;
    font-size: 1rem;
    padding-right: 2%;
    text-shadow: 0 0 10px #00ffc8;
  }
}
